<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We worked with...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12"> <!-- orig: col-md-3 col-sm-6-->
                    <a href="http://ici.radio-canada.ca">
                        <img src="/img/logos/radio-canada.jpg" class="img-responsive img-centered" alt="Radio-Canada">
                    </a>
                </div>
            </div>
        </div>
    </aside>