<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Notre focus sur les technologies web nous permet d'adapter vos solutions à vos besoins.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Nuage Microsoft Azure</h4>
                    <p class="text-muted">Vous chercher à optimiser votre retour sur investissement? Nos solutions Microsoft Azure vous donne la flexibilité et le contrôle sur vos coûts sans compromis sur la performance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solutions web</h4>
                    <p class="text-muted">Spécialiser dans les technologies Microsoft, nos outils nous permet de vous livrer des solutions rapidement selon vos besoins. Nous alignons nos pratiques et nos outils aux vôtres afin de minimiser toute friction avec votre équipe.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formation</h4>
                    <p class="text-muted">Besoin de vous mettre à jour? On peux vous aider. Permettez-nous de partager avec vous nos années d'expériences avec vous et vous aider à obtenir l'avantage technique nécessaire.</p>
                </div>
            </div>
        </div>
    </section>